/* footer */

footer {
    background-image: linear-gradient(grey,black 90%);
    /* background-color: black; */
    width: 100%;
    color: blanchedalmond;
    font-size: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.alinearhorizontalmente {
    /* use el flex ya que no pude ponerlos en linea */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.celulares {
    text-align: center;
}

footer p {
    letter-spacing: 2px;
}


.redes a {
    text-decoration: none;
    color: orangered;
    font-size: 25px;
    letter-spacing: 15px;
    :hover{
        color: rgba(216, 27, 27, 0.877);
    }
}